<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="com.Automation.Utility.SalesforceListenersUtility"></listener>
</listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="com.Automation.Tests.UserMenuDropDownTest"/>
        </classes>
    </test>
</suite>
